body{
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  background: url("https://img.freepik.com/premium-vector/watercolor-nature-background-with-green-leaves_615876-59.jpg");

  background-size: cover;
}

h2{
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 70px;
  text-align: center;
  color: #000000;
  margin-bottom: 10px;
}

.clock{
  display: flex;
}

.clock div{
  margin: 5px;
}

.clock span{
  width: 120px;
  height: 70px;
  background-color: rgba(255, 0, 47, 0.802);
  opacity: .8;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}

.clock .text{
  height: 30px;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: rgb(183, 150, 145);
  opacity: 0.8;
}